<main class="about_us">
    <div class="about_sec1">
        <div>
            <div class="marquee_box">
                <h4>KEYWORD of SEOMOON</h4>
                <div class="tMarquee_w textMarquee_wrap">
                    <div class="tMarquee textMarquee">
                        <div class="t_cover cover">
                            <div class="t_first first_text"></div>
                        </div>
                    </div>
                </div>
                <div class="tMarquee_w textMarquee_wrap2">
                    <div class="tMarquee textMarquee2">
                        <div class="t_cover cover2">
                            <div class="t_first first_text2"></div>
                        </div>
                    </div>
                </div>
                <div class="tMarquee_w textMarquee_wrap3">
                    <div class="tMarquee textMarquee3">
                        <div class="t_cover cover3">
                            <div class="t_first first_text3"></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tMarquee_w textMarquee_wrap4">
                    <div class="tMarquee textMarquee4">
                        <div class="t_cover cover4">
                            <div class="t_first first_text4"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="about_sec2 sec_wrap">
        <div class="p100">
            <div class="intro_wrap">
                <div class="big_img_wrap">
                    <div class="big_img"><img src="img/about_big1.jpg" alt="" /></div>
                </div>
                <div class="information">
                    <div class="sub_title">
                        <h2>FANTASTIC</h2>
                        <h2>NIGHTMARKET</h2>
                    </div>
                    <p>
                        2016년 6월에 개장한 서문시장 야시장은 총거리 350M에 달하는 대형 야시장입니다. 총 80대의 매대에서 다양한 먹거리, 살거리를
                        판매하며, 매일 저녁 시민과 관광객에게 즐거움을 선사하는 복합문화공간이자 먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로
                        펼쳐지는 마법같은 관광지이기도 합니다.
                    </p>
                    <div class="small_img"><img src="img/about_small1.png" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_sec2 sec_wrap">
        <div class="p100">
            <div class="intro_wrap">
                <div class="information">
                    <div class="sub_title">
                        <h2>FANTASTIC</h2>
                        <h2>NIGHTMARKET</h2>
                    </div>
                    <p>
                        2016년 6월에 개장한 서문시장 야시장은 총거리 350M에 달하는 대형 야시장입니다. 총 80대의 매대에서 다양한 먹거리, 살거리를
                        판매하며, 매일 저녁 시민과 관광객에게 즐거움을 선사하는 복합문화공간이자 먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로
                        펼쳐지는 마법같은 관광지이기도 합니다.
                    </p>
                    <div class="small_img"><img src="img/about_small1.png" alt="" /></div>
                </div>
                <div class="big_img_wrap">
                    <div class="big_img"><img src="img/about_big1.jpg" alt="" /></div>
                    <div class="tMarquee_w textMarquee_wrap4">
                        <div class="tMarquee textMarquee4">
                            <div class="t_cover cover4">
                                <div class="t_first first_text4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <section class="about_sec1 sec_wrap">
        <div class="main_image_wrap">
            <div class="main_image">
                <h2>ABOUT US</h2>
            </div>
        </div>
        <div class="textMarquee_wrap">
            <div class="textMarquee">
                <div class="cover">
                    <div class="first_text"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_sec2">
        <div class="p100 about_sec2_wrap">
            <h2>SEOMOON NIGHTMARKET is:</h2>
            <div class="swiper textRoller">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><h2 class="kr">총 거리 350M</h2></div>
                    <div class="swiper-slide"><h2 class="kr">약 80매대</h2></div>
                    <div class="swiper-slide"><h2 class="kr">조선시대부터 이어져온 전통시장</h2></div>
                    <div class="swiper-slide"><h2 class="kr">복합문화예술의 장</h2></div>
                    <div class="swiper-slide"><h2 class="kr">다양한 관광지</h2></div>
                    <div class="swiper-slide"><h2 class="kr">대구, 맛의 중심</h2></div>
                    <div class="swiper-slide"><h2 class="kr">대한민국 3대시장</h2></div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_sec3 sec_wrap">
        <div class="p100 sec3_wrap">
            <div class="sec3_con magical">
                <div class="full">
                    <h4>MAGICAL<br />THEME PARK</h4>
                    <div class="full_wrap">
                        <div class="img"></div>
                        <div class="content">
                            <p>
                                서문시장 야시장은 2016년 6월에 개장하여 <br />총거리 350M에 달하는 대형 야시장입니다. <br />
                                총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며<br />
                                매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간이자<br />
                                먹거리, 볼거리, 즐길거리의 3대 요소가<br />
                                연중으로 펼쳐지는 마법같은 관광지이기도 합니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="img_wrap">
                    <div class="sticker">
                        <h5>SEOMOON</h5>
                        <h5>NIGHTMARKET</h5>
                    </div>
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_sec3 sec_wrap">
        <div class="p100 sec3_wrap">
            <div class="sec3_con fantastic">
                <div class="img_wrap">
                    <div class="sticker">
                        <h5>SEOMOON</h5>
                        <h5>NIGHTMARKET</h5>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="full">
                    <h4>FANTASTIC<br />NIGHT MARKET</h4>
                    <div class="full_wrap">
                        <div class="img"></div>
                        <div class="content">
                            <p>
                                대구의 밤문화와 다양한 첨단, 문화예술이 복합되어<br />
                                어디에서도 찾을 수 없는 경험을 제공합니다.
                                <br />글로벌, 퓨전 먹거리를 비롯하여 <br />대구에서만 찾을 수 있는 독특한 음식 우리의 추억과 감성을 자극하는
                                <br />다양한 볼거리, 살거리가 즐비합니다. 대구로 방문하신다면 <br />반드시 찾아가봐야 할 1순위는 단연 ‘서문시장
                                야시장’입니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section> -->
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="js/textMarquee.js"></script>
<script>
    // vh_120 = window.innerHeight - 120;
    // console.log(vh_120);
    window.onload = function () {
        subHeader();
    };
</script>
