<header class="header_wrap">
    <div class="gnb p100">
        <!-- <a href="/" id="main_logo"><h1></h1></a> -->
        <div id="main_logo">
            <a href="/"><img src="img/logo_yellow.png" alt="" /></a>
        </div>
        <ul>
            <li class="drop">
                <a href="about_us">ABOUT US</a>
            </li>
            <li class="drop"><a href="store">STORE</a></li>
            <li class="drop"><a href="">EVENT</a>
                <div class="dropdown">
                    <a href="performance">공연</a>
                    <a href="promotion">이벤트</a>
                </div></li>
            <li class="drop">
                <a href="">REGISTER</a>
                <div class="dropdown">
                    <a href="">매대운영</a>
                    <a href="">식품셀러</a>
                </div>
            </li>
            <li class="drop">
                <a href="">COMMUNITY</a>
                <div class="dropdown">
                    <a href="notice">공지사항</a>
                    <a href="">Q & A</a>
                </div>
            </li>
        </ul>
        <div class="h_icons">
            <div class="drop mypage_icon">
                <a href="login">MY<br />PAGE</a>
            </div>
            <div class="cate_btn"><span></span><span></span><span></span></div>
        </div>
        <div class="mobile_gnb">
            <div class="mobile_gnb_btn">
                <div class="div"></div>
                <div class="div"></div>
            </div>
            <ul>
                <li><a href="login">MY PAGE</a></li>
                <li><a href="about_us">ABOUT US</a></li>
                <li><a href="store">STORE</a></li>
                <li><a href="">EVENT</a>
                    <ul class="m_accor">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li>
                    <a href="">REGISTER</a>
                    <ul class="m_accor">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li>
                    <a href="notice">COMMUNITY</a>
                    <ul class="m_accor">
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
