<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="css/index.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="header"><%- include('header.ejs') %></div>
        <div class="body"><%- body %></div>
        <div class="footer"><%- include('footer.ejs') %></div>
    </body>
    <script src="js/validTest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".feature", {
            // cssMode: true,
            slidesPerView: 3,
            // spaceBetween: 50,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
            },
            mousewheel: false,
            keyboard: true,
        });
        var swiper = new Swiper(".eventSwiper", {
            slidesPerView: 1,
            // spaceBetween: 30,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        // var swiper2 = new Swiper(".rollingBanner", {
        //     // cssMode: true,
        //     slidesPerView: 1,
        //     autoplay: {
        //         delay: 1000,
        //         disableOnInteraction: false,
        //         waitForTransition: false,
        //     },
        //     // spaceBetween: 50,
        //     loop: true,
        //     // navigation: {
        //     //     nextEl: ".swiper-button-next",
        //     //     prevEl: ".swiper-button-prev",
        //     // },
        //     // pagination: {
        //     //     el: ".swiper-pagination",
        //     // },
        //     mousewheel: false,
        //     keyboard: false,
        // });
    </script>
    <script src="js/main.js"></script>
</html>
