<main>
    <div class="mypage sec_wrap">
        <div class="wrap">
            <div class="prev_btn"></div>
            <div class="mypage_content">
                <h2>MEMBER LOGIN</h2>
                <form action="/login_info" method="post">
                    <div><input type="text" name="id" placeholder="ID" /></div>
                    <div><input type="text" name="password" placeholder="PASSWORD" /></div>
                    <p class="forgot"><a href="">아이디 / 비밀번호 찾기</a></p>
                    <div class="submit"><input type="submit" value="LOGIN" /></div>
                    <div class="or">
                        <span></span>
                        <p>or</p>
                        <span></span>
                    </div>
                    <div class="account">
                        <a href=""
                            >네이버 계정으로 로그인
                            <span><img src="img/naverpng-01.png" alt="" /></span>
                        </a>
                    </div>
                    <div class="account">
                        <a href=""
                            >카카오톡으로 로그인
                            <span><img src="img/kakaotalk_sharing_btn_medium.png" alt="" /></span>
                        </a>
                    </div>
                    <p class="notyet"><a href="sign_up">아직 회원이 아니신가요?</a></p>
                </form>
            </div>
        </div>
    </div>
</main>
