<main>
    <div class="notice_write sec_wrap">
        <a href="notice"><h2>NOTICE UPDATE</h2></a>
        <div class="notice_write_wrap p100_50">
            <form action="/notice_rewrite" method="post">
                <input type="hidden" name="id" value="<%= row.id %>" />
                <div class="grayBg">
                    <div>
                        <div>*는 필수 입력사항입니다</div>
                    </div>
                    <div>
                        <div>*ID</div>
                        <div><input type="text" name="userId" value="<%= row.name %>" /></div>
                    </div>
                    <div>
                        <div>PASSWORD</div>
                        <div><input type="password" name="userPw" /></div>
                    </div>
                    <div>
                        <div>*제목</div>
                        <div><input type="text" name="title" value="<%= row.title %>" /></div>
                    </div>
                    <div>
                        <div>*내용</div>
                        <div><textarea name="content" id="" cols="70" rows="10" value="<%= row.content %>"></textarea></div>
                    </div>
                </div>
                <div class="btn_wrap">
                    <span class="notice_btn"><input value="SUBMIT" type="submit" /></span>
                </div>
            </form>
        </div>
    </div>
</main>
