<main>
    <div class="event performance">
        <div class="sec1">
        </div>
        <div class="sec2 p100">
            <div class="sec_wrap">
                <div class="event_info">
                    <div>
                        <h4 class="kr">공연 & 행사</h4>
                        <p class="kr">서문 야시장에서만 즐길 수 있는, 축제의 장으로 초대합니다.</p>
                    </div>
                    <div class="info_list">
                        <div class="info_accor">
                            <h5 class="kr">일정 & 시간표</h5>
                            <span></span>
                        </div>
                        <div class="info_accor">
                            <h5 class="kr">장소</h5>
                            <span></span>
                        </div>
                        <div>
                            <h5 class="k4">참가 신청</h5>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="event_posters">
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>