<main>
    <div class="event promotion">
        <div class="sec1">
        </div>
        <div class="sec2 p100">
            <div class="sec_wrap">
                <div class="event_info">
                    <div>
                        <h4 class="kr">할인 & 경품 행사</h4>
                        <p class="kr">신선한 식품을 합리적인 가격으로,<br>
                        방문만 해도 쏟아지는 경품까지</p>
                    </div>
                    <div class="info_list">
                        <div class="info_accor">
                            <h5 class="kr">할인 일정</h5>
                            <span></span>
                        </div>
                        <div>
                            <h5 class="kr">마감세일</h5>
                            <span></span>
                        </div>
                        <div>
                            <h5 class="k4">경품행사 참여</h5>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="event_posters">
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                    <div><img src="" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>