<main>
    <div class="mypage sec_wrap">
        <div class="wrap">
            <div class="prev_btn"></div>
            <div class="mypage_content">
                <h2>SIGN UP</h2>
                <form action="sign_up_info" method="post">
                    <div><input type="text" name="id" placeholder="ID" id="sign_id" /></div>
                    <div><input type="text" name="password" placeholder="PASSWORD" id="sign_pw" /></div>
                    <div><input type="text" name="confirmPw" placeholder="CONFIRM PASSWORD" id="sign_pw2" /></div>
                    <div><input type="text" name="phonenumber" placeholder="PHONE NUMBER" /></div>
                    <div class="create"><input type="submit" value="CREATE AN ACCOUNT" /></div>
                    <div class="or">
                        <span></span>
                        <p>or</p>
                        <span></span>
                    </div>
                    <div class="account">
                        <a href=""
                            >카카오톡으로 간편가입
                            <span><img src="img/kakaotalk_sharing_btn_medium.png" alt="" /></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="js/validTest.js"></script>
