<main>
    <div class="cart_slide">
        <div class="monotone"></div>
        <div class="cart_wrap">
            <div class="cart_top">
                <h4>YOUR CART</h4>
                <span></span>
            </div>
            <ul>
                <li>
                    <div>
                        <img src="" alt="" />
                        <h5></h5>
                        <p></p>
                        <p></p>
                    </div>
                    <div>
                        <span></span>
                        <div></div>
                        <span></span>
                    </div>
                    <div class="button"><a href="">DELETE</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="store p100">
        <div class="sec_wrap">
            <h2 class="p50">STORE</h2>
            <div class="store_content">
                <div class="foods p50">
                    <div class="fg_title">
                        <div class="fg_categories">
                            <h4>FOODS ></h4>
                            <a href=""><h4>VEGETABLE ></h4></a>
                            <a href=""><h4>MEAT ></h4></a>
                            <a href=""><h4>FISH ></h4></a>
                            <a href=""><h4>VISTRO ></h4></a>
                            <a href=""><h4>DESSERT</h4></a>
                        </div>
                        <div class="store_filter">
                            <!-- <h4>filter</h4> -->
                            <span></span>
                        </div>
                    </div>
                    <div class="fg_contents p50">
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button"><a href="">button</a></div>
                </div>
                <div class="goods p50">
                    <div class="fg_title">
                        <div class="fg_categories">
                            <h4>GOODS ></h4>
                            <a href=""><h4>CLOTHING ></h4></a>
                            <a href=""><h4>LIVING ></h4></a>
                            <a href=""><h4>WELLNESS ></h4></a>
                            <a href=""><h4>ACCESSORIES ></h4></a>
                            <a href=""><h4>ETC</h4></a>
                        </div>
                        <div class="store_filter">
                            <!-- <h4>filter</h4> -->
                            <span></span>
                        </div>
                    </div>
                    <div class="fg_contents p50">
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img_wrap"><img src="img/bibimbab.png" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr">닭꼬치</h5>
                                <p class="kr store_name">순이네 분식</p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr">2000￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button"><a href="">button</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
