@import url(common.css);
@import url(sub_header.css);
.about_sec1 {
    margin-top: 100px;
    /* padding: 50px 0 0; */
}
.about_sec1 h4 {
    color: #ffe900;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}
.about_us .marquee_box {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 50px 0;
    box-sizing: border-box;
    /* background-color: cyan; */
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.about_us .tMarquee_w {
    width: 110%;
    position: relative;
    margin-left: -30px;
    /* top: 50%; */
    /* transform: translateY(-20%); */
}
.about_us .tMarquee {
    width: calc(100% + 50px);
    overflow-x: hidden;
}
.about_us .t_cover {
    width: 100%;
    /* margin-bottom: 10rem; */
    display: flex;
}
.about_us .t_cover:nth-child(1) {
    background-color: #242d3c;
    overflow-x: hidden;
}
.about_us .t_first {
    display: flex;
    font-size: 55px;
    font-weight: 900;
    color: #f3f3f3;
    line-height: 1.8;
}
.about_us .textMarquee_wrap {
    transform: translateY(50%) rotate(-10deg);
}
.about_us .textMarquee_wrap2 {
    transform: translateY(100%) rotate(22deg);
    margin-right: -70px;
}
.about_us .textMarquee_wrap3 {
    top: 10%;
    transform: translateY(30%) rotate(-18deg);
    margin-left: -100px;
}
/* .about_us .textMarquee_wrap4 {
    top: 20%;
    transform: translateY(60%) rotate(9deg);

} */
/* ==================== */
.about_sec2 .intro_wrap {
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about_sec2 .big_img_wrap {
    width: calc((100% - 100px) / 3 * 2 + 50px);
    height: 100%;
    /* padding: 0 0 150px; */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_sec2 .big_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: aquamarine; */
}
.about_sec2 .big_img > img {
    width: 100%;
}
/* .about_us .textMarquee_wrap4 {
    margin: 0;
    width: 100%;
    position: relative;
}
.about_us .textMarquee_wrap4 .first_text4 {
    font-size: 30px;
}
.about_us .textMarquee_wrap4 .t_cover:nth-child(1) {
    background-color: #fa6e91;
    overflow-x: hidden;
} */
.about_sec2 .information {
    width: calc((100% - 100px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_sec2 .information h2 {
    color: #242d3c;
    text-align: center;
}
.about_sec2 .information h3:nth-child(2) {
    font-style: italic;
}
.about_sec2 .information p {
    font-size: 100%;
    text-align: center;
    line-height: 1.5;
}
.about_sec2 .small_img {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.about_sec2 .small_img > img {
    position: absolute;
    bottom: -22%;
    width: 100%;
}
