.event .sec1{
    width:100%;
}
.event .sec_wrap{
    padding-top: 50px;
}
.event .event_info{
    display: flex;
    gap:50px;
}
.event_info>div:first-child{
    width: calc((100% - 100px) / 3);
}
.event_info>div:last-child{
    width: calc((100% - 100px) / 3 * 2 +  50px);
}
.event .info_list>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 0;
    border-bottom: 1px solid #242d3c;
}
.event .info_list>div:first-child{
    padding-top:0;
}
.event .event_posters{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    margin-top:50px;
}
.event .event_posters > div{
    width:calc((100% - 100px) / 3);
    height:auto;
}
.event .event_posters > div>img{
    width:100%;
}
/* ================ */
.swiper.eventSwiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }