@import url(reset.css);
@import url(common.css);
@import url(mypage.css);

.forgot {
    display: block;
    margin: 12px 0 0;
    width: 100%;
}
.forgot > a {
    font-size: 12px;
    margin: 0px 20px 12px 0;
    float: right;
    text-decoration: underline;
}

p.notyet {
    margin-top: 12px;
    width: 100%;
}
p.notyet > a {
    font-size: 12px;
    display: block;
    text-align: right;
    margin-right: 20px;
    text-decoration: underline;
}
@media (max-width: 1440px) {
    .login .wrap {
        margin: 0 100px;
    }
}
