.mypage {
	box-sizing: border-box;
	background-color: #fefefe;
}
.mypage .wrap {
	max-width: 1440px;
	margin: 0 auto;
	background-color: #f1f1f1;
	padding: 50px;
	box-sizing: border-box;
}
.mypage_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 440px;
	margin: 0 auto;
}
.mypage_content > h2 {
	text-align: center;
	color: #242d3c;
	margin-bottom: 25px;
}
.mypage_content form {
	width: 100%;
}
.mypage_content div {
	margin-top: 25px;
	width: 100%;
	background-color: #fefefe;
	display: flex;
	align-items: center;
	height: 60px;
}
.mypage_content input {
	background-color: transparent;
}
.mypage_content .submit {
	margin-top: 12px;
	background-color: #242d3c;
}
.mypage_content .submit > input {
	color: #ffe700;
	font-weight: 700;
}
.mypage_content div > input {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	border: none;
}
.mypage_content .or {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
}
.or > span {
	width: 35%;
	height: 1px;
	background-color: #242d3c;
}
.account a {
	display: block;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.account span {
	display: block;
	width: 35px;
	height: 35px;
}
.account span > img {
	width: 100%;
}
