.notice_write {
    margin-top: 50px;
}
.notice_write h2 {
    text-align: center;
}
textarea {
    display: block;
}
.grayBg {
    background-color: #f3f3f3;
    width: 100%;
}
.notice_write .grayBg {
    width: 100%;
}
.notice_write .grayBg > div {
    border-bottom: 1px solid #242d3c;
    display: flex;
    align-items: center;
}
.notice_write .grayBg > div:first-child {
    display: block;
}
.notice_write .grayBg > div:first-child > div:first-child {
    display: block;
    border: none;
    width: 100%;
}
.notice_write .grayBg > div:first-child > div:last-child {
    border: none;
}
.notice_write .grayBg > div > div:first-child {
    text-align: center;
    width: 200px;
    line-height: 60px;
}
.notice_write .grayBg > div > div:nth-child(2) {
    display: block;
    border-left: 1px solid #242d3c;
    box-sizing: border-box;
    padding: 20px 25px;
}
.notice_write .btn_wrap {
    padding: 25px 0;
}
