.cart_slide {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: space-between;
    top: 0;
    z-index: 2000;
}
.cart_slide.active {
    display: flex;
}
/* .cart_slide h4{
    font-weight: 900;
} */
.cart_slide > div {
    width: 50%;
    height: 100%;
}
.cart_slide > div:first-child {
    background-color: rgba(0, 0, 0, 0.2);
}

.cart_wrap {
    background-color: #fff;
    padding: 0px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart_top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #242d3c;
    box-sizing: border-box;
}
.cart_top > span {
    width: 40px;
    height: 40px;
    background-color: #242d3c;
}
.cart_products > li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #242d3c;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}
.cart_products > li img {
    width: 100px;
    height: 100px;
}
.cart_products > li > div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
.cart_slide .button {
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #242d3c;
}
.cart_slide .button > a {
    line-height: 1;
}

.cart_slide .product_count span {
    width: 20px;
    height: 2px;
    background-color: #242d3c;
}
.product_count > div:nth-child(2) {
    padding: 10px 15px;
    background-color: #f1f1f1;
}
.minus_product,
.plus_product {
    display: flex;
}
.plus_product > span:nth-child(2) {
    transform: translateX(-100%) rotate(90deg);
}
.checkout > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkout .button {
    width: 100%;
    margin-top: 20px;
    background-color: #fa6e91;
}
.checkout .button > a {
    background-color: transparent;
    line-height: 80px;
}
/* ================================page start============= */
.store h2 {
    text-align: center;
}
.fg_title {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.fg_categories {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
}
.foods > .fg_title {
    background-color: #fa6e91;
}
.goods > .fg_title {
    background-color: #ffe900;
}
.store_filter {
    display: none;
    gap: 25px;
    justify-content: right;
    align-items: center;
}
.store_filter > span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
}
.fg_title h4 {
    color: #242d3c;
    /* font-size: 28px; */
}
.fg_contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.fg_contents > div {
    width: calc(25% - 37.5px);
    background-color: #f3f3f3;
}
.fg_contents .img_wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    background-color: #fcfcfa;
}
.fg_contents img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.fg_info {
    padding: 12.5px;
    box-sizing: border-box;
}
.fg_contents h5 {
    font-size: 22px;
    font-weight: 900;
}
.fg_contents .kr {
    line-height: 1.5;
}
.store_name {
    font-size: 14px;
    font-weight: 500;
}
.fg_contents .cart {
    width: 100%;
    border: 1px solid #242d3c;
    padding: 12.5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fg_contents .cart > p {
    font-size: 16px;
}
.fg_contents .cart > span {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #242d3c;
}
.store .button {
    margin: 0 auto;
}
.goods {
    margin-top: 100px;
}
@media (max-width: 1300px) {
    .store {
        margin-top: 50px;
    }
    .fg_contents {
        gap: 25px;
    }

    .fg_contents > div {
        width: calc(25% - 18.75px);
        background-color: #f3f3f3;
    }
}
@media (max-width: 1020px) {
    .fg_contents {
        gap: 25px;
    }

    .fg_contents > div {
        width: calc(50% - 12.5px);
        background-color: #f3f3f3;
    }
}
@media (max-width: 900px) {
    .store {
        margin-top: 50px;
    }
    .fg_categories {
        display: none;
    }
    .fg_title {
        padding: 12.5px;
    }
    .store_filter {
        display: flex;
    }
    .fg_contents h5 {
        font-size: 18px;
        font-weight: 900;
    }
    .store_name {
        font-size: 12px;
    }
    .fg_contents .cart > p {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .fg_categories {
        display: none;
    }
    .store_filter {
        display: flex;
    }
    .fg_contents h5 {
        font-size: 16px;
        font-weight: 900;
    }
    .store_name {
        font-size: 10px;
    }
    .fg_contents .cart > p {
        font-size: 12px;
    }
    .store_filter > span {
        width: 30px;
        height: 30px;
    }
    .fg_contents {
        gap: 10px;
    }
    .fg_contents > div {
        width: calc(50% - 5px);
        background-color: #f3f3f3;
    }
    .fg_contents .cart {
        padding: 5px;
    }
    .fg_contents .cart > p:first-child {
        display: none;
    }
    .fg_contents .cart > span {
        display: block;
    }
}
